small {
  opacity: .6;
}
.text-muted{
  opacity: .6;
}
.clear{
  display: block;
  overflow: hidden;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.y-center{
  display: flex;
  align-items: center;
}
.block{
  display: block;
}
.inline {
  display: inline;
}
.none{
  display: none;
}
.b-white {
  border-color: #ffffff;
}
.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-v {
  height: 100vh;
}

.h-v-5 {
  height: 50vh;
}


.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.w-40 {
  width:  40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
}

/* Added by Jingle Chen 2017/12/16  */
.opt-confirm{
  color: rgb(37, 175, 106);
  &:hover{
    color: rgb(71, 212, 71);
  }
  &:active{
    color:rgb(30, 172, 30);
  }
}
.opt-cancel{
  color: rgb(216, 216, 216);
  &:hover{
    color: rgb(148, 148, 148);
  }
  &:active{
    color:rgb(206, 206, 206);
  }
}


.editable-cell {
  position: relative;
}



.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 20px;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon-close {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 18px;
  display: none;
}

.editable-cell-icon-check,
.editable-cell-icon-close {
  line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.editable-add-btn {
  margin-bottom: 8px;
}