small {
  opacity: .6;
}
.text-muted{
  opacity: .6;
}
.clear{
  display: block;
  overflow: hidden;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.y-center{
  display: flex;
  align-items: center;
}
.block{
  display: block;
}
.inline {
  display: inline;
}
.none{
  display: none;
}
.b-white {
  border-color: #ffffff;
}
.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-v {
  height: 100vh;
}

.h-v-5 {
  height: 50vh;
}


.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.w-40 {
  width:  40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
}

/* Added by Jingle Chen 2017/12/16  */
.opt-confirm{
  color: rgb(37, 175, 106);
  &:hover{
    color: rgb(71, 212, 71);
  }
  &:active{
    color:rgb(30, 172, 30);
  }
}
.opt-cancel{
  color: rgb(73, 73, 73);
  &:hover{
    color: rgb(148, 148, 148);
  }
  &:active{
    color:rgb(73, 73, 73)!important;
  }
}


.editable-cell {
  position: relative;
}



.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 20px;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon-close {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 18px;
  display: none;
}

.editable-cell-icon-check,
.editable-cell-icon-close {
  line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.editable-add-btn {
  margin-bottom: 8px;
}

.anj-pic-icon{
  font-size: 18px;
  float: right;
  &:hover{
    cursor: pointer;
    font-size: 19px;
    color: rgb(133, 133, 133);
  }
}

.anj-pic-icon-red{
  font-size: 18px;
  float: right;
  margin-right: 10px;
  color: rgb(255, 89, 89);
  &:hover{
    cursor: pointer;
    font-size: 19px;
    color: rgb(250, 25, 25);
  }
}


.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

.un-qualified-pic{
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 33;
  opacity: .63;
  color: white;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #FF3366;
}

.user-thumb {
  overflow: hidden;
  background: fade(#fff, 15);
  height: 70px;
  & > span {
    width: 80px;
    height: 60px;
    margin: 5px 5px;
    box-shadow: 0 0 5px fade(#000, 15);
    background: transparent;
    &.active {
      background: fade(#fff, 45);
    }
    & i {
      display: block;
      width: 70px;
      height: 50px;
      margin: 5px;
      background-size: cover;
      background-position: center;
    }
  }
}

.pic-comment{
  padding-bottom: 5px;
}

.comment-card{
  & > .ant-card-head{
    line-height: 33px;
  }
}

/* Added by Jingle Chen End **/